


                                              /* header */

.sec1 {background-image: url(../running-background-wl9pg3zeygysq0ps.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;}
.main-quote {margin-left: auto; max-width: 550px; border: 5px solid rgba(255, 255, 255, 0.329); border-radius: 10px; background-color: rgba(0, 0, 0, 0.151);}
.main-quote h3 {text-align: center;}